node_modules/
.env
.env.*
!.env.example
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
.AppleDouble
.LSOverride

._*

.idea/
.vscode/

coverage/
.nyc_output/

build/
dist/

PLESK_SUNUCU_YUKLEME/
PLESK_YUKLEME_DOSYASI/
PvhvErp_Guncelleme.zip
